*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    --bg-primary-color:rgb(24, 24, 24);
    --text-primary-color:#f0f0f0;
    --bg-fill-color:#fdfdfc;
    --bg-food-color:#ff3b3b;
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-xxl:40px;
    --space-xxxl:48px;

    /* border */
    --border-color:#736f6f;

    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:16px;
    --border-radius-lg:24px;
    --border-radius-xl:32px;
    --border-radius-xxl:40px;
    --border-radius-xxxl:46px;
}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    height: 100%;
    width: 100%;
}
.btn{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}
section{
    padding: var(--space-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--space-sm) var(--space-md);
    border-radius:var(--border-radius-sm);
    border: 1px solid var(--border-color);
}


.board{
    border: 1px solid var(--border-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}
.block{
    /* height: 80px;
    width: 80px; */
    /* border:1px solid var(--border-color); */
    border-radius: 50%;
}
.fill{
    background-color: var(--bg-fill-color);
}
.food{
    background-color: var(--bg-food-color);
}
.model{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.model .start-game,.model .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}
.model .game-over{
    display: none;
}